.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 15px 30px;
  background-color: #222;
}

.logo {
  color: white;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  position: absolute;
  left: 50%;
}

.nav-links a {
  color: white;
  text-decoration: none;
}